<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/onepage-scroll.css">
</head>
<body>
    <div class="main">
        <section class="slide first">
            <div class="bg_img">
                <img src="/static/img/bg_img.png" alt="">
            </div>
            <div class="menu in_block">
                <div class="left_part adaptive">
                    <img src="/static/img/adaptive_menu.png" alt="">
                </div>
                <div class="left_part">
                    <a href="/#collection">Collection</a>
                    <a href="/#collection">Roadmap</a>
                    <a href="/#collection">FAQ</a>
                </div>
                <div class="right_part">
                    <img src="/static/img/twitter.png" alt="">
                    <img src="/static/img/discord.png" alt="">
                </div>
            </div>
            <div class="main_part in_block">
                <div class="main_img">
                    <img src="/static/img/main_anim.gif" alt="">
                </div>
                <div class="main_text">
                    <p>4844 Dreamers on Solana blockchain.</p>
                    <p>555 vinyl figures in your collection.</p>
                </div>
            </div>
        </section>
        <section class="slide second">
            <div class="star_row">
                <div class="each_star big_star">
                    <img src="/static/img/big_star.svg" alt="">
                </div>
                <div class="each_star big_star">
                    <img src="/static/img/big_star.svg" alt="">
                </div>
                <div class="each_star litle_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star big_star">
                    <img src="/static/img/big_star.svg" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star big_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
                <div class="each_star big_star">
                    <img src="/static/img/big_star.svg" alt="">
                </div>
                <div class="each_star middle_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star big_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
            </div>
            <div class="bg_img">
                <img src="/static/img/bg_img.png" alt="">
            </div>
            <div class="menu in_block">
                <div class="left_part">
                    <a href="/#collection">Collection</a>
                    <a href="/#collection">Roadmap</a>
                    <a href="/#collection">FAQ</a>
                </div>
                <div class="right_part">
                    <img src="/static/img/twitter.png" alt="">
                    <img src="/static/img/discord.png" alt="">
                </div>
            </div>
            <div class="header_slide in_block">
                <h1>Collection</h1>
            </div>
            <div class="first_com_section in_block unadaptive">
                <img src="/static/img/first_diolog_pc_version.png" alt="">
            </div>
            <div class="first_com_section in_block adaptive">
                <img src="/static/img/first_diolog_mobile_version.svg" alt="">
            </div>
            <div class="first_com_section_men in_block">
                <div class="first_com_section_men_each">
                    <img src="/static/img/wow_men.png" alt="">
                </div>
                <div class="first_com_section_men_each_wow">
                    <p>WOW!</p>
                </div>
                <div class="first_com_section_men_each">
                    <img src="/static/img/answered_wow_men.png" alt="">
                </div>
            </div>
        </section>
        <section class="slide third">
            <div class="star_row">
                <div class="each_star big_star">
                    <img src="/static/img/big_star.svg" alt="">
                </div>
                <div class="each_star big_star">
                    <img src="/static/img/big_star.svg" alt="">
                </div>
                <div class="each_star litle_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star litle_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
                <div class="each_star big_star">
                    <img src="/static/img/big_star.svg" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star big_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
                <div class="each_star middle_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
            </div>
            <div class="bg_img">
                <img src="/static/img/bg_img.png" alt="">
            </div>
            <div class="menu in_block">
                <div class="left_part">
                    <a href="/#collection">Collection</a>
                    <a href="/#collection">Roadmap</a>
                    <a href="/#collection">FAQ</a>
                </div>
                <div class="right_part">
                    <img src="/static/img/twitter.png" alt="">
                    <img src="/static/img/discord.png" alt="">
                </div>
            </div>
            <div class="header_slide in_block">
                <h1>Roadmap</h1>
            </div>
            <div class="roadmap_step in_block first_step">
                <div class="roadmap_step_header">
                    <h2>1.Step </h2>
                    <h2 class="grad">one</h2>
                </div>
                <div class="roadmap_step_text">
                    <p>4844 dreamers will come to you in the collection through the decentralized blockchain Solana.
                        Pre-sale mint 5 minutes before the public. 500 Dreamers.
                        Public mint 4344 Dreamers. 
                        </p>
                </div>
            </div>
            <div class="roadmap_step in_block">
                <div class="roadmap_step_header">
                    <h2>2.Step </h2>
                    <h2 class="grad">two</h2>
                </div>
                <div class="roadmap_step_text">
                    <p>We will donate funds to the ShareTheMeal Charity Program. We will keep our community informed of our donations. 
                        </p>
                </div>
            </div>
            <div class="roadmap_step in_block">
                <div class="roadmap_step_header">
                    <h2>3.Step </h2>
                    <h2 class="grad">three</h2>
                </div>
                <div class="roadmap_step_text">
                    <p>Adding our collection to an NFT Marketplace.
                        </p>
                </div>
            </div>
        </section>
        <section class="slide third third_second">
            <div class="star_row">
                <div class="each_star big_star">
                    <img src="/static/img/big_star.svg" alt="">
                </div>
                <div class="each_star big_star">
                    <img src="/static/img/big_star.svg" alt="">
                </div>
                <div class="each_star litle_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star litle_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
                <div class="each_star big_star">
                    <img src="/static/img/big_star.svg" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star big_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
                <div class="each_star middle_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
            </div>
            <div class="bg_img">
                <img src="/static/img/bg_img.png" alt="">
            </div>
            <div class="menu in_block">
                <div class="left_part">
                    <a href="/#collection">Collection</a>
                    <a href="/#collection">Roadmap</a>
                    <a href="/#collection">FAQ</a>
                </div>
                <div class="right_part">
                    <img src="/static/img/twitter.png" alt="">
                    <img src="/static/img/discord.png" alt="">
                </div>
            </div>
            <div class="roadmap_step in_block first_step">
                <div class="roadmap_step_header ">
                    <h2>4.Step </h2>
                    <h2 class="grad">four</h2>
                </div>
                <div class="roadmap_step_text">
                    <p>Lottery among the holders, which will determine 555 lucky ones who will become the first owners of real vinyl figures in the world. The price of winning nfts will become higher.
                        </p>
                </div>
            </div>
            <div class="roadmap_step in_block">
                <div class="roadmap_step_header">
                    <h2>5.Step </h2>
                    <h2 class="grad">five</h2>
                </div>
                <div class="roadmap_step_text">
                    <p>Connection with the winners. Preparing to send figures. Sending out figures. Gathering feedback.
                        </p>
                </div>
            </div>
            <div class="roadmap_step in_block">
                <div class="roadmap_step_header">
                    <h2>6.Step </h2>
                    <h2 class="grad">six</h2>
                </div>
                <div class="roadmap_step_text">
                    <p>The development and growth of our community. Prepare for the drop of the next unique collection.
                        </p>
                </div>
            </div>
        </section>
        <section class="slide third third_third">
            <div class="star_row">
                <div class="each_star big_star">
                    <img src="/static/img/big_star.svg" alt="">
                </div>
                <div class="each_star big_star">
                    <img src="/static/img/big_star.svg" alt="">
                </div>
                <div class="each_star litle_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star litle_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
                <div class="each_star big_star">
                    <img src="/static/img/big_star.svg" alt="">
                </div>
            </div>
            <div class="star_row">
            </div>
            <div class="star_row">
                <div class="each_star litle_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
                <div class="each_star big_star">
                    <img src="/static/img/big_star.svg" alt="">
                </div>
                <div class="each_star middle_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
            </div>
            <div class="bg_img">
                <img src="/static/img/bg_img.png" alt="">
            </div>
            <div class="menu in_block">
                <div class="left_part">
                    <a href="/#collection">Collection</a>
                    <a href="/#collection">Roadmap</a>
                    <a href="/#collection">FAQ</a>
                </div>
                <div class="right_part">
                    <img src="/static/img/twitter.png" alt="">
                    <img src="/static/img/discord.png" alt="">
                </div>
            </div>
            <div class="roadmap_step in_block first_step">
                <div class="roadmap_step_header ">
                    <h2>7.Step </h2>
                    <h2 class="grad">seven</h2>
                </div>
                <div class="roadmap_step_text">
                    <p>Integrating characters into the metaverse
                        </p>
                </div>
            </div>
            <div class="roadmap_step in_block">
                <div class="roadmap_step_header ">
                    <h2>8.Step </h2>
                    <h2 class="grad">eight</h2>
                </div>
                <div class="roadmap_step_text">
                    <p>Build your platform for buying/selling our products.
                        </p>
                </div>
            </div>
            <div class="roadmap_step in_block last_step">
                <div class="roadmap_step_header">
                    <h2>9.Step </h2>
                    <h2 class="grad">nine</h2>
                </div>
                <div class="roadmap_step_text">
                    <p>Collaborations with large brands and the creation of a strong and cool brand of vinyl figures
                        </p>
                </div>
            </div>
        </section>
        <section class="slide fours">
            <div class="star_row">
                <div class="each_star litle_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
                <div class="each_star litle_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
                <div class="each_star moon">
                    <img src="/static/img/moon.png" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star big_star">
                    <img src="/static/img/big_star.svg" alt="">
                </div>
                <div class="each_star middle_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
            </div>
            <div class="bg_img">
                <img src="/static/img/bg_img.png" alt="">
            </div>
            <div class="menu in_block">
                <div class="left_part">
                    <a href="/#collection">Collection</a>
                    <a href="/#collection">Roadmap</a>
                    <a href="/#collection">FAQ</a>
                </div>
                <div class="right_part">
                    <img src="/static/img/twitter.png" alt="">
                    <img src="/static/img/discord.png" alt="">
                </div>
            </div>
            <div class="header_slide in_block">
                <h1>FAQ</h1>
            </div>
            <div class="faq_block in_block">
                <div class="each_faq">
                    <div class="ask" onclick="show_answer(this)">
                        <div class="ask_img">
                            <img src="/static/img/asked_1.png" alt="" onload="check_mt(this)">
                        </div>
                        <div class="ask_shape">
                            <div class="f_ask_shape">

                            </div>
                            <div class="s_ask_shape">
                                
                            </div>
                            <div class="t_ask_shape">
                                
                            </div>
                            <div class="main_ask_shape">
                                <p>How many Dreamers will be released?
                                </p>
                            </div>
                        </div>
                        <div class="question hiden">
                            <img src="/static/img/question.png" alt="">
                        </div>
                    </div>
                    <div class="ask answer ">
                        <div class="ask_shape">
                            <div class="main_ask_shape">
                                <p class="two_string">A total of 4844 uniquely generated dreamers will be released.
                                </p>
                            </div>
                            <div class="t_ask_shape">
                                
                            </div>
                            <div class="s_ask_shape">
                                
                            </div>
                            <div class="f_ask_shape">

                            </div>
                        </div>
                        <div class="ask_img">
                            <img src="/static/img/answered_1.png" alt="" onload="check_mt(this, 'test')">
                        </div>
                    </div>
                    <div class="ask" onclick="show_answer(this)">
                        <div class="ask_img">
                            <img src="/static/img/asked_2.png" alt="" onload="check_mt(this)">
                        </div>
                        <div class="ask_shape">
                            <div class="f_ask_shape">

                            </div>
                            <div class="s_ask_shape">
                                
                            </div>
                            <div class="t_ask_shape">
                                
                            </div>
                            <div class="main_ask_shape">
                                <p>Wen mint?
                                </p>
                            </div>
                        </div>
                        
                        <div class="question">
                            <img src="/static/img/question.png" alt="">
                        </div>
                    </div>
                    <div class="ask answer hiden">
                        <div class="ask_shape">
                            <div class="main_ask_shape big_answer">
                                <p>All information about the mint will be announced on our discord channel.</p>
                                <p>The whitelist will be able to mint NFT 5 minutes before the public drop.</p>
                                <p>- 500 Dreamers.</p>
                                <p>Public minting – 4344 Dreamers</p>
                            </div>
                            <div class="t_ask_shape">
                                
                            </div>
                            <div class="s_ask_shape">
                                
                            </div>
                            <div class="f_ask_shape">

                            </div>
                        </div>
                        <div class="ask_img">
                            <img src="/static/img/answered_1.png" alt="" onload="check_mt(this)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="palms">
                <div class="each_palm">
                    <img src="/static/img/Palms_1_png.png" alt="" onload="bot_null(this)">
                </div>
                <div class="each_palm">
                    <img src="/static/img/Palms_2_png.png" alt="" onload="bot_null(this)">
                </div>
                <div class="each_palm">
                    <img src="/static/img/Palms_2_png.png" alt="" onload="bot_null(this)">
                </div>
            </div>
        </section>
        <section class="slide fours">
            <div class="star_row">
                <div class="each_star litle_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
                <div class="each_star litle_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
                <div class="each_star moon">
                    <img src="/static/img/moon.png" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star big_star">
                    <img src="/static/img/big_star.svg" alt="">
                </div>
                <div class="each_star middle_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
            </div>
            <div class="bg_img">
                <img src="/static/img/bg_img.png" alt="">
            </div>
            <div class="menu in_block">
                <div class="left_part">
                    <a href="/#collection">Collection</a>
                    <a href="/#collection">Roadmap</a>
                    <a href="/#collection">FAQ</a>
                </div>
                <div class="right_part">
                    <img src="/static/img/twitter.png" alt="">
                    <img src="/static/img/discord.png" alt="">
                </div>
            </div>
            <div class="faq_block in_block without_header">
                <div class="each_faq">
                    <div class="ask" onclick="show_answer(this)">
                        <div class="ask_img">
                            <img src="/static/img/asked_1.png" alt="" onload="check_mt(this)">
                        </div>
                        <div class="ask_shape">
                            <div class="f_ask_shape">

                            </div>
                            <div class="s_ask_shape">
                                
                            </div>
                            <div class="t_ask_shape">
                                
                            </div>
                            <div class="main_ask_shape">
                                <p>How much will NFT cost?
                                </p>
                            </div>
                        </div>
                        <div class="question hiden">
                            <img src="/static/img/question.png" alt="">
                        </div>
                    </div>
                    <div class="ask answer ">
                        <div class="ask_shape">
                            <div class="main_ask_shape">
                                <p class="two_string">You can subdue the dreammer for 0.90 SOL
                                    Don't forget about Solana's commission!
                                </p>
                            </div>
                            <div class="t_ask_shape">
                                
                            </div>
                            <div class="s_ask_shape">
                                
                            </div>
                            <div class="f_ask_shape">

                            </div>
                        </div>
                        <div class="ask_img">
                            <img src="/static/img/answered_1.png" alt="" onload="check_mt(this)">
                        </div>
                    </div>
                    <div class="ask" onclick="show_answer(this)">
                        <div class="ask_img">
                            <img src="/static/img/asked_2.png" alt="" onload="check_mt(this)">
                        </div>
                        <div class="ask_shape">
                            <div class="f_ask_shape">

                            </div>
                            <div class="s_ask_shape">
                                
                            </div>
                            <div class="t_ask_shape">
                                
                            </div>
                            <div class="main_ask_shape">
                                <p>How many Dreamers can I mince in one transaction?
                                </p>
                            </div>
                        </div>
                        
                        <div class="question">
                            <img src="/static/img/question.png" alt="">
                        </div>
                    </div>
                    <div class="ask answer hiden">
                        <div class="ask_shape">
                            <div class="main_ask_shape">
                                <p>1 Dreamer can be minted per transaction.
                                </p>
                            </div>
                            <div class="t_ask_shape">
                                
                            </div>
                            <div class="s_ask_shape">
                                
                            </div>
                            <div class="f_ask_shape">

                            </div>
                        </div>
                        <div class="ask_img">
                            <img src="/static/img/answered_1.png" alt="" onload="check_mt(this)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="palms">
                <div class="each_palm">
                    <img src="/static/img/Palms_1_png.png" alt="" onload="bot_null(this)">
                </div>
                <div class="each_palm">
                    <img src="/static/img/Palms_2_png.png" alt="" onload="bot_null(this)">
                </div>
                <div class="each_palm">
                    <img src="/static/img/Palms_2_png.png" alt="" onload="bot_null(this)">
                </div>
            </div>
        </section>
        <section class="slide fours">
            <div class="star_row">
                <div class="each_star litle_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
                <div class="each_star litle_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
                <div class="each_star moon">
                    <img src="/static/img/moon.png" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star big_star">
                    <img src="/static/img/big_star.svg" alt="">
                </div>
                <div class="each_star middle_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
            </div>
            <div class="bg_img">
                <img src="/static/img/bg_img.png" alt="">
            </div>
            <div class="menu in_block">
                <div class="left_part">
                    <a href="/#collection">Collection</a>
                    <a href="/#collection">Roadmap</a>
                    <a href="/#collection">FAQ</a>
                </div>
                <div class="right_part">
                    <img src="/static/img/twitter.png" alt="">
                    <img src="/static/img/discord.png" alt="">
                </div>
            </div>
            <div class="faq_block in_block without_header">
                <div class="each_faq">
                    <div class="ask" onclick="show_answer(this)">
                        <div class="ask_img">
                            <img src="/static/img/asked_1.png" alt="" onload="check_mt(this)">
                        </div>
                        <div class="ask_shape">
                            <div class="f_ask_shape">

                            </div>
                            <div class="s_ask_shape">
                                
                            </div>
                            <div class="t_ask_shape">
                                
                            </div>
                            <div class="main_ask_shape">
                                <p  class="two_string">Is there a chance that I will receive drop link in DM? NO NO NO!
                                </p>
                            </div>
                        </div>
                        <div class="question hiden">
                            <img src="/static/img/question.png" alt="">
                        </div>
                    </div>
                    <div class="ask answer ">
                        <div class="ask_shape">
                            <div class="main_ask_shape">
                                <p>No! NEVER follow links in your DM! THIS IS SCAM.
                                </p>
                            </div>
                            <div class="t_ask_shape">
                                
                            </div>
                            <div class="s_ask_shape">
                                
                            </div>
                            <div class="f_ask_shape">

                            </div>
                        </div>
                        <div class="ask_img">
                            <img src="/static/img/answered_1.png" alt="" onload="check_mt(this)">
                        </div>
                    </div>
                    <div class="ask" onclick="show_answer(this)">
                        <div class="ask_img">
                            <img src="/static/img/asked_2.png" alt="" onload="check_mt(this)">
                        </div>
                        <div class="ask_shape">
                            <div class="f_ask_shape">

                            </div>
                            <div class="s_ask_shape">
                                
                            </div>
                            <div class="t_ask_shape">
                                
                            </div>
                            <div class="main_ask_shape">
                                <p>What is the peculiarity of the collection?

                                </p>
                            </div>
                        </div>
                        
                        <div class="question">
                            <img src="/static/img/question.png" alt="">
                        </div>
                    </div>
                    <div class="ask answer hiden">
                        <div class="ask_shape">
                            <div class="main_ask_shape">
                                <p>The peculiarity of the collection is that 555 people will be selected from among the holders, who will receive a REAL NUMBERED VINYL FIGURINE from the SolangelesDreamers collection. With the development of our brand, the price of these figure will increase. You will also be the proud owner of a rare and very beautiful accessory.
                                </p>
                            </div>
                            <div class="t_ask_shape">
                                
                            </div>
                            <div class="s_ask_shape">
                                
                            </div>
                            <div class="f_ask_shape">

                            </div>
                        </div>
                        <div class="ask_img">
                            <img src="/static/img/answered_1.png" alt="" onload="check_mt(this)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="palms">
                <div class="each_palm">
                    <img src="/static/img/Palms_1_png.png" alt="" onload="bot_null(this)">
                </div>
                <div class="each_palm">
                    <img src="/static/img/Palms_2_png.png" alt="" onload="bot_null(this)">
                </div>
                <div class="each_palm">
                    <img src="/static/img/Palms_2_png.png" alt="" onload="bot_null(this)">
                </div>
            </div>
        </section>
        <section class="slide fours">
            <div class="star_row">
                <div class="each_star litle_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
                <div class="each_star litle_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
                <div class="each_star moon">
                    <img src="/static/img/moon.png" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star big_star">
                    <img src="/static/img/big_star.svg" alt="">
                </div>
                <div class="each_star middle_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
            </div>
            <div class="bg_img">
                <img src="/static/img/bg_img.png" alt="">
            </div>
            <div class="menu in_block">
                <div class="left_part">
                    <a href="/#collection">Collection</a>
                    <a href="/#collection">Roadmap</a>
                    <a href="/#collection">FAQ</a>
                </div>
                <div class="right_part">
                    <img src="/static/img/twitter.png" alt="">
                    <img src="/static/img/discord.png" alt="">
                </div>
            </div>
            <div class="faq_block in_block without_header">
                <div class="each_faq">
                    <div class="ask" onclick="show_answer(this)">
                        <div class="ask_img">
                            <img src="/static/img/asked_1.png" alt="" onload="check_mt(this)">
                        </div>
                        <div class="ask_shape">
                            <div class="f_ask_shape">

                            </div>
                            <div class="s_ask_shape">
                                
                            </div>
                            <div class="t_ask_shape">
                                
                            </div>
                            <div class="main_ask_shape">
                                <p>What is the difference between a duck?
                                </p>
                            </div>
                        </div>
                        <div class="question hiden">
                            <img src="/static/img/question.png" alt="">
                        </div>
                    </div>
                    <div class="ask answer ">
                        <div class="ask_shape">
                            <div class="main_ask_shape img_answer">
                                <img src="/static/img/smile.png" alt="">
                            </div>
                            <div class="t_ask_shape">
                                
                            </div>
                            <div class="s_ask_shape">
                                
                            </div>
                            <div class="f_ask_shape">

                            </div>
                        </div>
                        <div class="ask_img">
                            <img src="/static/img/answered_1.png" alt="" onload="check_mt(this)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="palms">
                <div class="each_palm">
                    <img src="/static/img/Palms_1_png.png" alt="" onload="bot_null(this)">
                </div>
                <div class="each_palm">
                    <img src="/static/img/Palms_2_png.png" alt="" onload="bot_null(this)">
                </div>
                <div class="each_palm">
                    <img src="/static/img/Palms_2_png.png" alt="" onload="bot_null(this)">
                </div>
            </div>
        </section>
        <section class="slide fours last_block">
            <div class="star_row">
                <div class="each_star litle_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
                <div class="each_star litle_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
                <div class="each_star moon">
                    <img src="/static/img/moon.png" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star big_star">
                    <img src="/static/img/big_star.svg" alt="">
                </div>
                <div class="each_star middle_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
            </div>
            <div class="bg_img">
                <img src="/static/img/bg_img.png" alt="">
            </div>
            <div class="menu in_block">
                <div class="left_part">
                    <a href="/#collection">Collection</a>
                    <a href="/#collection">Roadmap</a>
                    <a href="/#collection">FAQ</a>
                </div>
                <div class="right_part">
                    <img src="/static/img/twitter.png" alt="">
                    <img src="/static/img/discord.png" alt="">
                </div>
            </div>
            <div class="header_slide in_block">
                <h1>Team</h1>
            </div>
            <div class="team_row in_block">
                <div class="each_team_person">
                    <div class="each_team_person_img">
                        <img src="/static/img/Егор.png" alt="">
                    </div>
                    <p>Jacube (Poland)</p>
                    <p>Product Manager</p>
                </div>
                <div class="each_team_person">
                    <div class="each_team_person_img">
                        <img src="/static/img/Михаил.png" alt="">
                    </div>
                    <p>Michael ( South Korea)</p>
                    <p>Blockchain Advisor, Metaverse Partner</p>
                </div>
                <div class="each_team_person">
                    <div class="each_team_person_img">
                        <img src="/static/img/Panda.png" alt="">
                    </div>
                    <p>Antonio (Hong Kong)</p>
                    <p>Lead Blockchain Engineer</p>
                </div>
                <div class="each_team_person">
                    <div class="each_team_person_img">
                        <img src="/static/img/Константин.png" alt="">
                    </div>
                    <p>Const (Poland)</p>
                    <p>Growth Lead, Metaverse Partner</p>
                </div>
                <div class="each_team_person">
                    <div class="each_team_person_img">
                        <img src="/static/img/Дмитрий.png" alt="">
                    </div>
                    <p>Dmitry (Russia)</p>
                    <p>Designer</p>
                </div>
                <div class="each_team_person">
                    <div class="each_team_person_img">
                        <img src="/static/img/Mike.png" alt="">
                    </div>
                    <p>Mike (SolAngeles)</p>
                    <p>Journalist</p>
                </div>
            </div>
            <div class="politic_str in_block">
                <h4>Solangeles dreamers 2021. all rights reserved.</h4>
            </div>
            <div class="palms">
                <div class="each_palm">
                    <img src="/static/img/Palms_1_png.png" alt="" onload="bot_null(this)">
                </div>
                <div class="each_palm">
                    <img src="/static/img/Palms_2_png.png" alt="" onload="bot_null(this)">
                </div>
                <div class="each_palm">
                    <img src="/static/img/Palms_2_png.png" alt="" onload="bot_null(this)">
                </div>
            </div>
        </section>
    </div>
    
    <script src="/static/js/main.js"></script>
    <script src="/static/js/jquery.onepage-scroll.js"></script>
    <script>
            $(function() {
                $(".main").onepage_scroll({
                    sectionContainer: "section", // это часть берет любой селектор если вы не хотите использовать секцию поставьте другой html тег
                    easing: "ease", // Опции плавности принимает только CSS3 свойства такие как "ease", "linear", "ease-in", "ease-out", "ease-in-out",или даже cubic bezier  "cubic-bezier(0.175, 0.885, 0.420, 1.310)"
                    animationTime: 800, // Анимация дает вам определить сколько вы хотите анимировать каждую секцию 
                    pagination: false, // Вы также можете спрятать или показать пагинацию 
                    updateURL: false, // 
                    beforeMove: function(index) {}, // это опция принимает каллбек функцию и будет вызвано ДО того как страница начнет скроллитсья
                    afterMove: function(index) {}, // это опция принимает каллбек функцию и будет вызвано ПОСЛЕ того как страница начнет скроллитсья
                    loop: true, // You can have the page loop back to the top/bottom when the user navigates at up/down on the first/last page.
                    responsiveFallback: 600 //
                });
                if (window.screen.width < 1025) {
                    $("body").addClass("disabled-onepage-scroll");
                }
            })
        
    </script>
</body>
</html>