<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <script src="/static/js/main.js"></script>
    <div class="main">
        <section class="slide first">
            <div class="star_row">
                <div class="each_star big_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
                <div class="each_star little_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star little_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
                <div class="each_star little_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
                <div class="each_star big_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
                <div class="each_star big_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
            </div>
            <div class="bg_img">
                <img src="/static/img/bg_img.png" alt="">
            </div>
            <div class="starblock_frame_size">
                <div class="menu in_block">
                    <div class="left_part adaptive">
                        <img src="/static/img/adaptive_menu.png" alt="" onclick="show_menu()">
                    </div>
                    <div class="left_part" id="menu">
                        <a href="#collection">Collection</a>
                        <a href="#roadmap">Roadmap</a>
                        <a href="#faq">FAQ</a>
                        <a href="#team">Team</a>
                    </div>
                    <div class="right_part">
                        <img src="/static/img/twitter.png" alt="" onclick="open_twitter()">
                        <img src="/static/img/discord.png" alt="" onclick="open_discord()">
                    </div>
                </div>
                <div class="adaptive_menu" id="adapt_menu">
                    <a href="#collection" onclick="show_menu()">Collection</a> 
                    <br>
                    <a href="#roadmap" onclick="show_menu()">Roadmap</a>
                    <br>
                    <a href="#faq" onclick="show_menu()">FAQ</a>
                    <br>
                    <a href="#team" onclick="show_menu()" class="team_point">Team</a>
                    <br>
                </div>
                <div class="main_part in_block">
                    <div class="main_img">
                        <img src="/static/img/main_anim.gif" alt="">
                    </div>
                    <div class="main_text">
                        <p>4844 Dreamers on Solana blockchain.</p>
                        <p>555 vinyl figures in your collection.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="slide">
            <div class="img_slider in_block">
                <div class="img_container">
                    <span>
                        <img src="/static/img/img_slider/img_slider_2.png" alt="">
                        <img src="/static/img/img_slider/img_slider_5.png" alt="">
                        <img src="/static/img/img_slider/img_slider_8.png" alt="">
                        <img src="/static/img/img_slider/img_slider_6.png" alt="">
                        <img src="/static/img/img_slider/img_slider_3.png" alt="">

                        <img src="/static/img/img_slider/img_slider_7.png" alt="">
                        <img src="/static/img/img_slider/img_slider_1.png" alt="">
                        <img src="/static/img/img_slider/img_slider_2.png" alt="">
                        <img src="/static/img/img_slider/img_slider_3.png" alt="">
                        <img src="/static/img/img_slider/img_slider_4.png" alt="">
                    </span>
                    <span>
                        <img src="/static/img/img_slider/img_slider_7.png" alt="">
                        <img src="/static/img/img_slider/img_slider_1.png" alt="">
                        <img src="/static/img/img_slider/img_slider_2.png" alt="">
                        <img src="/static/img/img_slider/img_slider_3.png" alt="">
                        <img src="/static/img/img_slider/img_slider_4.png" alt="">

                        <img src="/static/img/img_slider/img_slider_2.png" alt="">
                        <img src="/static/img/img_slider/img_slider_5.png" alt="">
                        <img src="/static/img/img_slider/img_slider_8.png" alt="">
                        <img src="/static/img/img_slider/img_slider_6.png" alt="">
                        <img src="/static/img/img_slider/img_slider_3.png" alt="">
                    </span>
                </div>
            </div>
        </section>
        <section class="slide first_s">
            <div class="star_row">
                <div class="each_star little_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
                <div class="each_star big_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
                <div class="each_star big_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
                <div class="each_star little_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star little_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
                <div class="each_star big_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star little_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
                <div class="each_star big_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
            </div>
            <div class="bg_img">
                <img src="/static/img/bg_img.png" alt="">
            </div>
            
            <a id="collection"></a>
            
            <div class="section_header in_block ">
                <h1>The collection</h1>
            </div>
            
            <div class="section_second_text in_block">
                <p>Solangeles Dreamers - unique project consisting of 4844 super-cool residents of Solangeles.</p>
                <p>One of the main advantages is that 555 participants of the project will have the opportunity to get a vinyl figure of their resident!</p>
                <span>But that's not all!</span>
                <p>NFTs will be integrated into the metaverse in the nearest future. Just imagine, managing your residents of the Solangeles in a real metaverse is wonderful!</p>
            </div>
        </section>
        <section class="slide second">
            <div class="star_row">
                <div class="each_star big_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
                <div class="each_star little_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
                <div class="each_star little_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star big_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
                <div class="each_star little_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
                <div class="each_star little_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star big_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
                <div class="each_star little_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star big_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star big_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
                <div class="each_star big_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
            </div>
            <div class="bg_img">
                <img src="/static/img/bg_img.png" alt="">
            </div>
            <a id="roadmap"></a>
            <div class="section_header in_block ">
                <h1>Roadmap</h1>
            </div>
            <div class="roadmap_step">
                <div class="roadmap_step_header">
                    <h2>01</h2>
                </div>
                <div class="roadmap_step_text">
                    <p>4844 dreamers will come to your collection through the decentralized Solana blockchain.
                        Pre-sale mint 5 minutes before the public. 500 Dreamers.
                        Public mint 4344 Dreamers. 
                        </p>
                </div>
            </div>
            <div class="roadmap_step">
                <div class="roadmap_step_header">
                    <h2>02</h2>
                </div>
                <div class="roadmap_step_text">
                    <p>We will donate funds to the ShareTheMeal Charity Program.
                        We will keep our community informed of our donations. 
                        </p>
                </div>
            </div>
            <div class="roadmap_step">
                <div class="roadmap_step_header">
                    <h2>03</h2>
                </div>
                <div class="roadmap_step_text">
                    <p>Adding our collection to an NFT Marketplace.
                        </p>
                </div>
            </div>
            <div class="roadmap_step">
                <div class="roadmap_step_header">
                    <h2>04</h2>
                </div>
                <div class="roadmap_step_text">
                    <p>Lottery among the holders, which will determine 555 lucky ones who will become the first owners of real vinyl figures from this collection. 
                        </p>
                </div>
            </div>
            <div class="roadmap_step">
                <div class="roadmap_step_header">
                    <h2>05</h2>
                </div>
                <div class="roadmap_step_text">
                    <p>Integrating dreamers into the metaverse. 
                    </p>
                </div>
            </div>
            <div class="roadmap_step">
                <div class="roadmap_step_header">
                    <h2>06</h2>
                </div>
                <div class="roadmap_step_text">
                    <p>The development and growth of our community. Prepare for the drop of the next unique collection.
                        </p>
                </div>
            </div>
            <div class="roadmap_step">
                <div class="roadmap_step_header">
                    <h2>07</h2>
                </div>
                <div class="roadmap_step_text">
                    <p>Connection with the winners. Preparing to send figures. Sending out figures. Gathering feedback. 
                    </p>
                </div>
            </div>
            <div class="roadmap_step">
                <div class="roadmap_step_header">
                    <h2>08</h2>
                </div>
                <div class="roadmap_step_text">
                    <p>Opening of the Chunky Chump eatery in the Tollan Worlds multi-metaverse. Huge party!!!
                        </p>
                </div>
            </div>
        </section>
        <section class="slide third">
            <div class="star_row">
                <div class="each_star big_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
                <div class="each_star little_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
                <div class="each_star little_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star little_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
                <div class="each_star little_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star little_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
                <div class="each_star little_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star little_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
                <div class="each_star little_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star little_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
                <div class="each_star little_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star little_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
                <div class="each_star little_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star little_star">
                    <img src="/static/img/litle_star.svg" alt="">
                </div>
            </div>
            <div class="star_row">
                <div class="each_star little_star">
                    <img src="/static/img/middle_star.svg" alt="">
                </div>
            </div>
            <div class="bg_img">
                <img src="/static/img/bg_img.png" alt="">
            </div>
            <a id="faq"></a>
            <div class="section_header in_block ">
                <h1>FAQ</h1>
            </div>
            <div class="each_faq">
                <div class="ask">
                    <div class="ask_img">
                        <img src="/static/img/asked_1.png" alt="" onload="check_mt(this)">
                    </div>
                    <div class="ask_main_shape">
                        <div class="f_shape">

                        </div>
                        <div class="s_shape">
                            
                        </div>
                        <div class="shape">
                            <p>How many Dreamers will be released?</p>
                        </div>
                    </div>
                </div>
                <div class="ask answer">
                    <div class="ask_main_shape">
                        <div class="shape">
                            <p>A total of 4844 uniquely generated dreamers will be released.</p>
                        </div>
                        <div class="s_shape">
                            
                        </div>
                        <div class="f_shape">

                        </div>
                    </div>
                    <div class="ask_img">
                        <img src="/static/img/answered_1.png" alt="" onload="check_mt(this)">
                    </div>
                </div>
            </div>
            <div class="each_faq">
                <div class="ask">
                    <div class="ask_img">
                        <img src="/static/img/asked_2.png" alt="" onload="check_mt(this)">
                    </div>
                    <div class="ask_main_shape">
                        <div class="f_shape">

                        </div>
                        <div class="s_shape">
                            
                        </div>
                        <div class="shape">
                            <p>Wen mint?</p>
                        </div>
                    </div>
                </div>
                <div class="ask answer">
                    <div class="ask_main_shape">
                        <div class="shape">
                            <p>All information about the mint will be announced on our discord channel.</p>
                            <p>The whitelist will be able to mint NFT 5 minutes before the public drop.</p>
                            <p>Public minting – 4344 Dreamers</p>
                        </div>
                        <div class="s_shape">
                            
                        </div>
                        <div class="f_shape">

                        </div>
                    </div>
                    <div class="ask_img">
                        <img src="/static/img/answered_1.png" alt="" onload="check_mt(this)">
                    </div>
                </div>
            </div>
            <div class="each_faq">
                <div class="ask">
                    <div class="ask_img">
                        <img src="/static/img/asked_3.png" alt="" onload="check_mt(this)">
                    </div>
                    <div class="ask_main_shape">
                        <div class="f_shape">

                        </div>
                        <div class="s_shape">
                            
                        </div>
                        <div class="shape">
                            <p>How much will NFT cost??</p>
                        </div>
                    </div>
                </div>
                <div class="ask answer">
                    <div class="ask_main_shape">
                        <div class="shape">
                            <p>You can mint the dreammer for 0.88 SOL Don't forget about Solana's commission!</p>
                        </div>
                        <div class="s_shape">
                            
                        </div>
                        <div class="f_shape">

                        </div>
                    </div>
                    <div class="ask_img">
                        <img src="/static/img/answered_1.png" alt="" onload="check_mt(this)">
                    </div>
                </div>
            </div>
            <div class="each_faq">
                <div class="ask">
                    <div class="ask_img">
                        <img src="/static/img/asked_4.png" alt="" onload="check_mt(this)">
                    </div>
                    <div class="ask_main_shape">
                        <div class="f_shape">

                        </div>
                        <div class="s_shape">
                            
                        </div>
                        <div class="shape">
                            <p>How many Dreamers can I mint in one transaction?</p>
                        </div>
                    </div>
                </div>
                <div class="ask answer">
                    <div class="ask_main_shape">
                        <div class="shape">
                            <p>1 Dreamer can be minted per transaction.</p>
                        </div>
                        <div class="s_shape">
                            
                        </div>
                        <div class="f_shape">

                        </div>
                    </div>
                    <div class="ask_img">
                        <img src="/static/img/answered_1.png" alt="" onload="check_mt(this)">
                    </div>
                </div>
            </div>
            <div class="each_faq">
                <div class="ask">
                    <div class="ask_img">
                        <img src="/static/img/asked_6.png" alt="" onload="check_mt(this)">
                    </div>
                    <div class="ask_main_shape">
                        <div class="f_shape">

                        </div>
                        <div class="s_shape">
                            
                        </div>
                        <div class="shape">
                            <p>Is there a chance that I will receive drop link in DM? </p>
                        </div>
                    </div>
                </div>
                <div class="ask answer">
                    <div class="ask_main_shape">
                        <div class="shape">
                            <p>NO NO NO!</p>
                            <p>NEVER follow links in your DM! THIS IS SCAM.</p>
                        </div>
                        <div class="s_shape">
                            
                        </div>
                        <div class="f_shape">

                        </div>
                    </div>
                    <div class="ask_img">
                        <img src="/static/img/answered_1.png" alt="" onload="check_mt(this)">
                    </div>
                </div>
            </div>
            <div class="each_faq">
                <div class="ask">
                    <div class="ask_img">
                        <img src="/static/img/asked_7.png" alt="" onload="check_mt(this)">
                    </div>
                    <div class="ask_main_shape">
                        <div class="f_shape">

                        </div>
                        <div class="s_shape">
                            
                        </div>
                        <div class="shape">
                            <p>What is the peculiarity of the collection?</p>
                        </div>
                    </div>
                </div>
                <div class="ask answer">
                    <div class="ask_main_shape">
                        <div class="shape">
                            <p>The peculiarity of the collection is that 555 people will be selected from among the holders, who will receive a REAL NUMBERED VINYL FIGURINE from the SolangelesDreamers collection. With the development of our brand, the price of these figure will increase. You will also be the proud owner of a rare and very beautiful accessory.</p>
                        </div>
                        <div class="s_shape">
                            
                        </div>
                        <div class="f_shape">

                        </div>
                    </div>
                    <div class="ask_img">
                        <img src="/static/img/answered_1.png" alt="" onload="check_mt(this)">
                    </div>
                </div>
            </div>
            <div class="each_faq">
                <div class="ask">
                    <div class="ask_img">
                        <img src="/static/img/asked_8.png" alt="" onload="check_mt(this)">
                    </div>
                    <div class="ask_main_shape">
                        <div class="f_shape">

                        </div>
                        <div class="s_shape">
                            
                        </div>
                        <div class="shape">
                            <p>What is the difference between a duck?</p>
                        </div>
                    </div>
                </div>
                <div class="ask answer">
                    <div class="ask_main_shape">
                        <div class="shape">
                            <img src="/static/img/smile.png" alt="">
                        </div>
                        <div class="s_shape">
                            
                        </div>
                        <div class="f_shape">

                        </div>
                    </div>
                    <div class="ask_img">
                        <img src="/static/img/answered_1.png" alt="" onload="check_mt(this)">
                    </div>
                </div>
            </div>
        </section>
        <section class="slide fours">
            <div class="bg_img">
                <img src="/static/img/bg_img.png" alt="">
            </div>
            <div class="moon_container in_block">
                <div class="moon_img">
                    <img src="/static/img/moon.png" alt="">
                </div>
            </div>
            <a id="team"></a>
            <div class="section_header in_block ">
                <h1>Team</h1>
            </div>
            <div class="team_container in_block">
                <div class="team_each">
                    <div class="team_each_img">
                        <img src="/static/img/Егор.png" alt="">
                    </div>
                    <div class="team_each_text">
                        <p>Jacube (Poland)</p>
                        <p>-</p>
                        <p>Product Manager</p>
                    </div>
                </div>
                <div class="team_each">
                    <div class="team_each_img">
                        <img src="/static/img/Panda.png" alt="">
                    </div>
                    <div class="team_each_text">
                        <p>Antonio (Hong Kong)</p>
                        <p>-</p>
                        <p>Lead Blockchain Enginee</p>
                    </div>
                </div>
                <div class="team_each">
                    <div class="team_each_img">
                        <img src="/static/img/Михаил.png" alt="">
                    </div>
                    <div class="team_each_text">
                        <p>Michael (South Korea)</p>
                        <p>-</p>
                        <p>Blockchain Advisor, Metaverse Partner</p>
                    </div>
                </div>
                <div class="team_each">
                    <div class="team_each_img">
                        <img src="/static/img/Константин.png" alt="">
                    </div>
                    <div class="team_each_text">
                        <p>Const (Poland)</p>
                        <p>-</p>
                        <p>Growth Lead, Metaverse Partner</p>
                    </div>
                </div>
                <div class="team_each">
                    <div class="team_each_img">
                        <img src="/static/img/Дмитрий.png" alt="">
                    </div>
                    <div class="team_each_text">
                        <p>Dmitry (Russia)</p>
                        <p>-</p>
                        <p>Designer</p>
                    </div>
                </div>
                <div class="team_each">
                    <div class="team_each_img">
                        <img src="/static/img/Mike.png" alt="">
                    </div>
                    <div class="team_each_text">
                        <p>Mike (SolAngeles)</p>
                        <p>-</p>
                        <p>Journalist</p>
                    </div>
                </div>
            </div>
            <div class="politic_container in_block">
                <div class="politic_container_img">
                    <img src="/static/img/politic_img.png" alt="">
                </div>
                <div class="politic_container_text">
                    <p>© All rights reserved</p>
                    <p>2021</p>
                </div>
            </div>
            <div class="palms">
                <div class="palm_each">
                    <img src="/static/img/Palms_1_png.png" alt="" onload="bot_null(this)">
                </div>
                <div class="palm_each">
                    <img src="/static/img/Palms_2_png.png" alt="">
                </div>
            </div>
            <div class="mountain">
                <img src="/static/img/montain.png" alt="">
            </div>
        </section>
    </div>
    <script>
        function onEntry(entry) {
          entry.forEach(change => {
            if (change.isIntersecting) {
             change.target.classList.add('element-show');
            }
          });
        }

        let options = {
            threshold: [0.5] 
        };
        let observer = new IntersectionObserver(onEntry, options);
        let elements = document.querySelectorAll('.roadmap_step');
        
        for (let elm of elements) {
          observer.observe(elm);
        }

        elements = document.querySelectorAll('.star_row');
        
        for (let elm of elements) {
          observer.observe(elm);
        }
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
           $("#menu").on("click","a", function (event) {
               event.preventDefault();
               var id  = $(this).attr('href'),
                   top = $(id).offset().top;
               $('body,html').animate({scrollTop: top}, 1500);
           });

           $("#adapt_menu").on("click","a", function (event) {
               event.preventDefault();
               var id  = $(this).attr('href'),
                   top = $(id).offset().top;
               $('body,html').animate({scrollTop: top}, 1500);
           });
       });
       </script>
</body>
</html>