@font-face {
    font-family: 'PressStart2P';
    src: url('/static/fonts/PressStart2P.ttf') format('truetype');
    src: url('/static/fonts/PressStart2P.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/static/fonts/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono_light';
    src: url('/static/fonts/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes animated_question {
    10% {
        transform: rotate(45deg);
    }
    20% {
        transform: rotate(-45deg);
    }
    30% {
        transform: rotate(45deg);
    }
    40% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes second_slide_light_stars {
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 0.4;
    }
}

@keyframes third_slide_light_stars {
    50% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.6;
    }
}

@keyframes moon_animation {
    0% {
        box-shadow: 7px 0px 70px 20px rgba(255, 255, 255, 0.5);
    }
    20% {
        box-shadow: 7px 0px 70px 20px rgba(255, 255, 255, 0.5);
    }
    25% {
        box-shadow: 7px 0px 70px 20px rgba(255, 255, 255, 0.6);
    }
    30% {
        box-shadow: 7px 0px 70px 20px rgba(255, 255, 255, 0.7);
    }
    35% {
        box-shadow: 7px 0px 70px 20px rgba(255, 255, 255, 0.8);
    }
    40% {
        box-shadow: 7px 0px 70px 20px rgba(255, 255, 255, 0.8);
    }
    45% {
        box-shadow: 7px 0px 70px 20px rgba(255, 255, 255, 0.8);
    }
    50% {
        box-shadow: 7px 0px 70px 20px rgba(255, 255, 255, 0.8);
    }
    55% {
        box-shadow: 7px 0px 70px 20px rgba(255, 255, 255, 0.8);
    }
    65% {
        box-shadow: 7px 0px 70px 20px rgba(255, 255, 255, 0.8);
    }
    70% {
        box-shadow: 7px 0px 70px 20px rgba(255, 255, 255, 0.7);
    }
    85% {
        box-shadow: 7px 0px 70px 20px rgba(255, 255, 255, 0.6);
    }
    90% {
        box-shadow: 7px 0px 70px 20px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 7px 0px 70px 20px rgba(255, 255, 255, 0.5);
    }
}

::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

.left_part.adaptive {
    display: none;
}

html {
    -webkit-text-size-adjust: 100%;
}

*, body {
    padding: 0;
    margin: 0;
}

.without_header {
    margin-top: 50px!important;
}

.hiden {
    display: none!important;
}

.adaptive {
    display: none!important;
}

.bg_img {
    position: absolute;
    z-index: 0;
    height: 100vh;
    overflow: hidden;
}

.bg_img {
    width: 100%;
}

.slide {
    width: 100%;
    height: 100vh;
    position: relative;
}

.in_block {
    z-index: 5;
    position: relative;
}

.first {
    background: linear-gradient(0deg, #8E1587, #FD267F);
}

.second {
    background: linear-gradient(0deg, #3F09A4, #8E1587);
}

.third {
    background: linear-gradient(0deg, #0000B8, #3F09A4);
}

.third_third {
    background: linear-gradient(0deg, #010164, #0000B8);
}

.third_second {
    background: #0000B8;
}

.fours {
    background: #010164;
}

.menu {
    width: 90%;
    margin: 0 auto;
    padding-top: 3%;
    display: flex;
}

.menu a {
    font-family: "PressStart2P";
    font-size: 36px;
    text-decoration: none;
    color: white;
    line-height: 49px;
    margin-right: 50px;
}

.menu .left_part {
    width: 90%;
}

.menu .right_part {
    width: 10%;
    display: block;
}

.menu .right_part img:first-child {
    margin-left: 30px;
    margin-right: 30px;
}

.main_part {
    width: 50%;
    margin: 0 auto;
    margin-top: 200px;
    font-family: "JetBrainsMono";
    font-weight: 800;
    color: white;
    text-align: center;
    font-size: 36px;
}

.main_part .main_text {
    margin-top: 40px;
}

.header_slide {
    margin-top: 60px;
}

.header_slide h1 {
    font-family: "PressStart2P";
    font-size: 56px;
    color: white;
    text-align: center;
}

.first_com_section {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}

.first_com_section img {
    width: 100%;
    vertical-align: bottom;
}

.first_com_section_men {
    display: flex;
    width: 70%;
    margin: 0 auto;
    z-index: 3;
    margin-top: -100px;
}

.first_com_section_men_each_wow {
    font-family: "PressStart2P";
    font-size: 60px;
    color: white;
    text-align: center;
    height: 100%;
    transform: rotate(-20.25deg);
    width: 25%;
    padding-top: 30px;
}

.first_com_section_men_each {
    width: 15%;
}

.first_com_section_men_each:last-child {
    margin-left: 45%;
}

.first_com_section_men_each img {
    width: 100%;
}

.star_row {
    position: absolute;
    z-index: 4;
    display: flex;
    width: 100%;
}

.second .star_row .each_star {
    opacity: 0.4;
}

.second .star_row .each_star.big_star {
    animation: second_slide_light_stars 3s infinite;
}

.second .star_row .each_star.litle_star {
    animation: second_slide_light_stars 2s infinite 2s;
}

.third .star_row .each_star {
    opacity: 0.6;
}

.third .star_row .each_star.big_star {
    animation: third_slide_light_stars 3s infinite;
}

.third .star_row .each_star.litle_star {
    animation: third_slide_light_stars 2s infinite 2s;
}

.big_star {
    width: 3%;
}

.moon {
    width: 10%;
}

.moon::before {
    content: "";
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    box-shadow: 7px 0px 70px 20px rgba(255, 255, 255, 0.5);
    position: absolute;
    animation: moon_animation 5s infinite linear;
}

.moon img {
    width: 100%;
    vertical-align: bottom;
    border-radius: 5000px;
}

.each_star {
    position: relative;
}

.each_star img {
    width: 100%;
    vertical-align: bottom;
}

.second .star_row:nth-child(1) {
    margin-top: calc((100vh / 100) * 20);
}

.second .star_row:nth-child(1) .each_star:nth-child(1) {
    margin-left: 3%;
}

.second .star_row:nth-child(1) .each_star:nth-child(2) {
    margin-left: 70%;
    margin-top: -80px;
}

.second .star_row:nth-child(1) .each_star:nth-child(3) {
    margin-left: 7%;
    margin-top: 30px;
}

.second .star_row:nth-child(2) {
    margin-top: calc((100vh / 100) * 50);
}

.second .star_row:nth-child(2) .each_star:nth-child(1) {
    margin-left: 90%;
}

.second .star_row:nth-child(3) {
    margin-top: calc((100vh / 100) * 70);
}

.second .star_row:nth-child(3) .each_star:nth-child(1) {
    margin-left: 5%;
    margin-top: 20px;
}

.second .star_row:nth-child(3) .each_star:nth-child(2) {
    margin-left: 35%;
}

.second .star_row:nth-child(3) .each_star:nth-child(3) {
    margin-left: 40%;
    margin-top: 35px;
}

.second .star_row:nth-child(4) {
    margin-top: calc((100vh / 100) * 90);
}

.second .star_row:nth-child(4) .each_star:nth-child(1) {
    margin-left: 60%;
}

.third .star_row:nth-child(1) {
    margin-top: calc((100vh / 100) * 20);
}

.third .star_row:nth-child(1) .each_star:nth-child(1) {
    margin-left: 3%;
}

.third .star_row:nth-child(1) .each_star:nth-child(2) {
    margin-left: 70%;
    margin-top: -80px;
}

.third .star_row:nth-child(1) .each_star:nth-child(3) {
    margin-left: 7%;
    margin-top: 30px;
}

.third .star_row:nth-child(2) {
    margin-top: calc((100vh / 100) * 50);
}

.third .star_row:nth-child(2) .each_star:nth-child(1) {
    margin-left: 5%;
    margin-right: 80%;
}

.third .star_row:nth-child(3) {
    margin-top: calc((100vh / 100) * 70);
}

.third .star_row:nth-child(3) .each_star:nth-child(1) {
    margin-left: 5%;
    margin-top: 20px;
}

.third .star_row:nth-child(3) .each_star:nth-child(2) {
    margin-left: 75%;
}

.third .star_row:nth-child(4) {
    margin-top: calc((100vh / 100) * 92);
}

.third .star_row:nth-child(4) .each_star:nth-child(1) {
    margin-left: 60%;
}


.third_third .star_row:nth-child(3) .each_star:nth-child(1) {
    margin-left: 5%;
    margin-top: 20px;
}

.third_third .star_row:nth-child(3) .each_star:nth-child(2) {
    margin-left: 30%;
    margin-top: -20px;
}

.third_third .star_row:nth-child(3) .each_star:nth-child(3) {
    margin-left: 20%;
    margin-top: 40px;
}

.third_third .star_row:nth-child(3) .each_star:nth-child(4) {
    margin-left: 15%;
    margin-top: 20px;
}

.third_third .star_row:nth-child(4) .each_star:nth-child(1) {
    margin-left: 20%;
    margin-top: -30px;
}

.third_third .star_row:nth-child(4) .each_star:nth-child(2) {
    margin-left: 30%;
    margin-top: -20px;
}

.third_third .star_row:nth-child(4) .each_star:nth-child(3) {
    margin-left: 30%;
    margin-top: -30px;
}

.roadmap_step {
    width: 70%;
    margin-left: 15%;
    margin-top: 40px;
}

.third .roadmap_step.first_step {
    margin-top: 50px;
}

.third.third_second .roadmap_step.first_step {
    margin-top: 120px;
}

.third.third_third .roadmap_step.first_step {
    margin-top: 120px;
}

.roadmap_step_header {
    display: flex;
    width: 100%;
}

.roadmap_step_header h2 {
    width: 50%;
    margin-right: 1%;
    text-align: right;
    font-size: 47px;
    font-family: "JetBrainsMono";
    font-weight: 800;
    color: white;
}

.roadmap_step_header h2.grad {
    width: 49%;
    text-align: left;
    font-family: "PressStart2P";
    background-image: linear-gradient(0deg, #FF277F, #C70051);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .2s;
    line-height: 62px;
}

.roadmap_step_text {
    margin-top: 15px;
    font-family: "JetBrainsMono_light";
    color: white;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
}

.faq_block {
    width: 75%;
    margin: 0 auto;
}

.each_faq {
    width: 100%;
}

.ask {
    display: flex;
    width: 100%;
    height: fit-content;
}

.ask_img {
    width: 180px;
    margin-left: 0;
    margin-right: 5%;
    height: 180px;
}

.ask {
    margin-top: 20px;
}

.answer .ask_img {
    margin-left: 5%;
    margin-right: 0;
}

.ask_img img {
    width: 100%;
    vertical-align: bottom;
}

.ask_shape {
    height: fit-content;
    display: flex;
    width: calc(100% - 180px - 180px - 10%);
}

.f_ask_shape {
    height: 31px;
    width: 31px;
    background-color: white;
    /*margin-top: calc((160px - 31px));*/
}

.s_ask_shape {
    height: 62px;
    width: 31px;
    background-color: white;
    /*margin-top: calc((160px - 62px));*/
}

.t_ask_shape {
    height: 93px;
    width: 31px;
    background-color: white;
    /*margin-top: calc((160px - 93px));*/
}

.main_ask_shape {
    width: calc(100% - 93px);
    background-color: white;
    height: calc(100% - 60px);
    margin-top: 40px;
}

.main_ask_shape p {
    font-size: 23px;
    line-height: 33px;
    font-weight: 500;
    font-family: "JetBrainsMono_light";
    width: 90%;
    margin: 0 auto;
}

.two_string {
    margin-top: calc((100% - 96px) / 2);
}

.answer .ask_shape {
    margin-left: calc(180px + 5%);
}

.answer .f_ask_shape {
    background-color: #FFF5B1;
}

.answer .s_ask_shape {
    background-color: #FFF5B1;
}

.answer .t_ask_shape {
    background-color: #FFF5B1;
}

.answer .main_ask_shape {
    background-color: #FFF5B1;
}

.question {
    height: calc(100% - 60px);
    margin-top: 60px;
    margin-left: 20px;
    width: 80px;
    animation: animated_question 2s linear infinite;
}

.question img {
    width: 100%;
    vertical-align: bottom;
}

.palms {
    display: flex;
    position:absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

.palms .each_palm:nth-child(1) {
    width: 20%;
    margin-left: 30px;
    bottom: 0;
}

.palms .each_palm:nth-child(2) {
    width: 15%;
    margin-left: 20%;
    bottom: 0;
}

.palms .each_palm:nth-child(3) {
    width: 20%;
    margin-left: 20%;
    bottom: 0;
}

.palms .each_palm img {
    width: 100%;
    vertical-align: bottom;
    bottom: 0;
}

.fours .star_row:nth-child(1) {
    margin-top: calc((100vh / 100) * 17);
}

.fours .star_row:nth-child(1) .each_star:nth-child(1) {
    margin-left: 3%;
}

.fours .star_row:nth-child(1) .each_star:nth-child(2) {
    margin-left: 60%;
    margin-top: -100px;
}

.fours .star_row:nth-child(1) .each_star:nth-child(3) {
    margin-left: 15%;
}

.fours .star_row:nth-child(2) {
    margin-top: calc((100vh / 100) * 50);
}

.fours .star_row:nth-child(2) .each_star:nth-child(1) {
    margin-left: 2%;
}

.fours .star_row:nth-child(2) .each_star:nth-child(2) {
    margin-left: 87%;
    margin-top: 70px;
}

.team_row {
    width: 70%;
    margin-left: 15%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.team_row .each_team_person {
    width: 30%;
    margin: 0 auto;
    margin-top: 60px;
}

.team_row .each_team_person .each_team_person_img {
    width: 40%;
    margin: 0 auto;
}

.team_row .each_team_person .each_team_person_img img {
    width: 100%;
    vertical-align: bottom;
}

.team_row .each_team_person p {
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
    font-family: "JetBrainsMono_light";
    color: white;
    text-align: center;
    line-height: 18px;
}

.team_row .each_team_person p:nth-child(3) {
    margin-top: 10px;
}

.main_img img {
    width: 100%;
    vertical-align: bottom;
}

.main_ask_shape.img_answer {
    width: fit-content;
    margin-left: calc(100% - 93px - 200px);
}

.main_ask_shape.img_answer img {
    width: 100px;
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.politic_str {
    width: 100%;
    position: absolute;
    bottom: 40px;
}

.politic_str h4 {
    text-align: center;
    font-family: "JetBrainsMono";
    color: white;
    font-size: 25px;
}

@media screen and (max-width: 1800px){
    .menu .right_part {
        width: 11%;
    }

    .third .star_row:nth-child(3) .each_star:nth-child(2) {
        margin-left: 80%;
    }
}

@media screen and (max-width: 1600px){
    .menu .right_part {
        width: 12%;
    }

    .third .star_row:nth-child(3) .each_star:nth-child(2) {
        margin-left: 80%;
    }
}

@media screen and (max-height: 800px) {

    .without_header {
        margin-top: 30px!important;
    }

    .menu {
        padding-top: 2%;
    }

    .menu .left_part {
        width: 90%;
    }

    .header_slide {
        margin-top: 40px;
    }

    .menu .right_part {
        width: 20%;
    }

    .first_com_section {
        margin-top: 40px;
    }

    .menu a {
        font-size: 28px;
    }

    .header_slide h1 {
        font-size: 35px;
    }

    .main_part {
        width: 50%;
        margin-top: 150px;
    }

    .main_img img {
        width: 100%;
        vertical-align: bottom;
    }

    .main_part .main_text {
        font-size: 28px;
    }

    .roadmap_step {
        width: 70%;
        margin-left: 15%;
        margin-top: 25px;
    }

    .roadmap_step_header h2 {
        font-size: 28px;
    }

    .roadmap_step_header h2.grad {
        line-height: 38px;
    }

    .roadmap_step_text {
        font-size: 23px;
        line-height: 40px;
    }

    .third .roadmap_step.first_step {
        margin-top: 35px;
    }

    .first_com_section_men {
        margin-top: -60px;
    }

    .third.third_second .roadmap_step.first_step {
        margin-top: 60px;
    }

    .third.third_third .roadmap_step.first_step {
        margin-top: 80px;
    }

    .first_com_section_men_each_wow {
        font-size: 40px;
    }

    .ask_img {
        width: 110px;
        height: 110px;
    }

    .main_ask_shape p {
        font-size: 18px;
        line-height: 30px;
    }

    .f_ask_shape {
        width: 15px;
        height: 15px;
        margin-top: calc(100px - 15px);
    }

    .s_ask_shape {
        width: 15px;
        height: 30px;
        margin-top: calc(100px - 30px);
    }

    .t_ask_shape {
        width: 15px;
        height: 45px;
        margin-top: calc(100px - 45px);
    }

    .main_ask_shape {
        margin-top: 20px;
    }

    .ask_shape {
        width: calc(100% - 110px - 110px - 10%);
    }

    .answer .ask_shape {
        margin-left: calc(110px + 5%);
    }

    .question {
        height: calc(100% - 30px);
        margin-top: 30px;
        margin-left: 0;
        width: 60px;
    }

    .fours .star_row:nth-child(1) .each_star:nth-child(3) {
        margin-left: 12%;
    }

    .fours .star_row:nth-child(1) .each_star:nth-child(2) {
        opacity: 0;
    }

    .team_row {
        width: 80%;
        margin-left: 10%;
    }

    .third .star_row:nth-child(1) .each_star:nth-child(2) {
        margin-top: -10px;
    }

    .team_row .each_team_person p:nth-child(3) {
        margin-top: 5px;
        line-height: 22px;
    }

    .team_row .each_team_person {
        margin-top: 30px;
    }

    .main_ask_shape.img_answer {
        margin-left: calc(100% - 93px - 170px
        );
    }

    .main_ask_shape.img_answer img {
        width: 70px;
        height: 70px;
    }

    .team_row .each_team_person p {
        font-size: 17px;
    }

    .politic_str h4 {
        font-size: 20px;
    }

    .politic_str {
        bottom: 20px;
    }
}

@media screen and (max-width: 1024px) and (max-height: 768px) {
    .menu a {
        font-size: 25px;
    }

    .menu .right_part img {
        width: 40px;
    }

    .header_slide h1 {
        font-size: 35px;
    }

    .main_part {
        font-size: 28px;
        margin-top: 150px;
    }

    .main_img img {
        width: 100%;
        vertical-align: bottom;
    }

    .first_com_section {
        width: 80%;
    }

    .first_com_section_men {
        width: 80%;
    }

    .first_com_section_men_each_wow {
        font-size: 30px;
        padding-top: 15px;
    }

    .first_com_section_men {
        margin-top: -40px;
    }

    .second .star_row:nth-child(1) {
        margin-top: 15%;
    }

    .second .star_row:nth-child(1) .each_star:nth-child(3) {
        margin-left: 12%;
    }

    .second .star_row:nth-child(2) {
        margin-top: 45%;
    }

    .second .star_row:nth-child(3) .each_star:nth-child(3) {
        margin-left: 25%;
    }

    .second .star_row:nth-child(3) .each_star:nth-child(2) {
        margin-left: 25%;
    }

    .second .star_row:nth-child(4) .each_star:nth-child(1) {
        margin-left: 50%;
    }

    .roadmap_step {
        margin-top: 30px;
    }

    .roadmap_step_header h2 {
        font-size: 28px;
    }

    .roadmap_step_header h2.grad {
        line-height: 38px;
    }

    .third .roadmap_step.first_step {
        margin-top: 30px;
    }

    .roadmap_step_text {
        font-size: 22px;
        line-height: 40px;
    }

    .third.third_second .roadmap_step.first_step {
        margin-top: 80px;
    }

    .third.third_third .roadmap_step.first_step {
        margin-top: 80px;
    }

    .third .star_row:nth-child(2) {
        margin-top: 40%;
    }

    .third .star_row:nth-child(2) .each_star:nth-child(1) {
        margin-left: 3%;
        margin-right: 82%;
        margin-top: -30px;
    }

    .third .star_row:nth-child(4) {
        margin-top: 64%;
    }

    .third_third .star_row:nth-child(4) .each_star:nth-child(1) {
        margin-left: 20%;
        margin-top: -30px;
    }

    .third_third .star_row:nth-child(4) .each_star:nth-child(2) {
        margin-left: 30%;
        margin-top: -80px;
    }

    .third_third .star_row:nth-child(4) .each_star:nth-child(3) {
        margin-left: 20%;
        margin-top: -30px;
    }

    .third .star_row:nth-child(1) .each_star:nth-child(2) {
        margin-left: 70%;
        margin-top: -50px;
    }
}

@media screen and (max-width: 1024px) {
    .menu .left_part {
        opacity: 0;
    }

    .bg_img {
        height: 100%;
    }

    .star_row {
        display: none;
    }

    .palms {
        display: none;
    }

    .slide {
        height: fit-content!important;
    }

    .menu {
        display: none;
    }

    .first .menu {
        display: flex!important;
    }

    .left_part {
        display: none;
    }

    .unadaptive {
        display: none!important;
    }

    .adaptive {
        display: block!important;
    }

    .left_part.adaptive img {
        width: 40px;
    }

    .right_part img {
        width: 40px;
    }

    .menu .left_part {
        width: 85%;
    }

    .menu .right_part {
        width: 15%;
    }

    .menu .right_part img:first-child {
        margin-left: 15px;
        margin-right: 15px;
    }

    .main_part {
        margin-top: 80px;
        font-size: 23px;
        line-height: 35px;
        padding-bottom: 20px;
    }

    .main_part .main_text {
        margin-top: 30px;
    }

    .header_slide {
        margin-top: 0;
        padding-top: 50px;
    }

    .header_slide h1 {
        font-size: 30px;
    }

    .first_com_section {
        margin-top: 40px;
    }

    .first_com_section_men {
        margin-top: -50px;
        padding-bottom: 20px;
    }

    .first_com_section_men_each {
        width: 20%;
    }

    .first_com_section_men_each:last-child {
        margin-left: 35%;
    }

    .first_com_section_men_each_wow {
        font-size: 40px;
        padding-top: 20px;
        padding-left: 10px;
    }

    .third .roadmap_step.first_step {
        margin-top: 40px;
    }

    .roadmap_step {
        margin-top: 40px;
    }

    .roadmap_step_header h2 {
        font-size: 28px;
    }

    .roadmap_step_header h2.grad {
        line-height: 35px;
    }

    .roadmap_step_text {
        margin-top: 10px;
        font-size: 20px;
        line-height: 32px;
    }

    .third.third_second .roadmap_step.first_step {
        margin-top: 0;
        padding-top: 30px;
    }

    .third.third_third .roadmap_step.first_step {
        margin-top: 0;
        padding-top: 30px;
    }

    .last_step {
        padding-bottom: 20px;
    }

    .ask {
        margin-top: 0px;
        padding-top: 40px;
    }

    .ask_img {
        width: 100px;
        height: 100px;
    }

    .ask_shape {
        width: calc(100% - 100px - 5%);
    }

    .main_ask_shape {
        margin-top: 5px;
        width: calc(100% - 45px);
    }

    .main_ask_shape p {
        font-size: 20px;
        line-height: 27px;
    }

    .f_ask_shape {
        width: 15px;
        height: 15px;
        margin-top: 0;
    }

    .s_ask_shape {
        width: 15px;
        height: 30px;
        margin-top: 0;
    }

    .t_ask_shape {
        width: 15px;
        height: 45px;
        margin-top: 0;
    }

    .answer .ask_shape {
        margin-left: 0;
    }

    .question {
        display: none!important;
    }

    .without_header {
        margin-top: 0!important;
    }

    .team_row {
        width: 80%;
        margin-left: 10%;
        padding-bottom: 60px;
        margin-top: 0px;
    }

    .team_row .each_team_person {
        width: 45%;
    }

    .team_row .each_team_person p {
        font-size: 20px;
    }

    .main_ask_shape.img_answer {
        margin-left: calc(100% - 45px - 170px
        );
    }

    .main_ask_shape.img_answer img {
        width: 70px;
        height: 70px;
    }

    .team_row {
        padding-bottom: 150px;
    }
}

@media screen and (max-width: 800px) {
    .menu .left_part {
        width: 80%;
    }

    .menu .right_part {
        width: 20%;
    }

    .main_part {
        width: 70%;
        margin-top: 50px;
        padding-bottom: 50px;
    }

    .politic_str h4 {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    body {
        -webkit-text-size-adjust: none;
    }

    .menu {
        padding-top: 5%;
    }

    .menu .right_part img:first-child {
        margin-left: 10px;
        margin-right: 10px;
    }

    .right_part img {
        width: 20px;
    }

    .main_part {
        width: 90%;
        margin-top: 20px;
        padding-bottom: 30px;
        font-size: 10px;
        line-height: 1.2;
        font-weight: 800;
    }

    .header_slide {
        padding-top: 30px;
    }

    .header_slide h1 {
        font-size: 20px;
    }

    .first_com_section {
        width: 90%;
        margin-top: 25px;
    }

    .first_com_section_men {
        width: 90%;
        margin-top: -20px;
    }

    .first_com_section_men_each {
        width: 30%;
    }

    .first_com_section_men_each_wow {
        font-size: 25px;
        padding-top: 30px;
    }

    .first_com_section_men_each:last-child {
        margin-left: 20%;
    }

    .third .roadmap_step.first_step {
        margin-top: 20px;
    }

    .roadmap_step {
        margin-top: 20px;
        width: 90%;
        margin-left: 5%;
    }

    .roadmap_step_header h2 {
        font-size: 18px;
        margin-right: 1%;
    }

    .roadmap_step_header h2.grad {
        line-height: 23px;
        margin-left: 1%;
    }

    .roadmap_step_text {
        margin-top: 5px;
        font-size: 14px;
        line-height: 20px;
    }

    .faq_block {
        width: 90%;
    }

    .ask_img {
        width: 60px;
        height: 60px;
        margin-left: 2%;
    }

    .f_ask_shape {
        width: 10px;
        height: 10px;
    }

    .s_ask_shape {
        width: 10px;
        height: 20px;
    }

    .t_ask_shape {
        width: 10px;
        height: 30px;
    }

    .ask_shape {
        width: calc(100% - 60px - 2%);
    }

    .main_ask_shape {
        width: calc(100% - 30px);
    }

    .main_ask_shape p {
        font-size: 1em;
        line-height: 19px;
    }

    .main_ask_shape.img_answer {
        margin-left: calc(100% - 45px - 80px);
    }

    .main_ask_shape.img_answer img {
        width: 40px;
        height: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .last_block .header_slide {
        padding-top: 40px;
        padding-bottom: 10px;
    }

    .team_row {
        width: 90%;
        margin-left: 5%;
        padding-bottom: 100px;
    }

    .team_row .each_team_person {
        width: 80%;
    }

    .team_row .each_team_person p {
        font-size: 15px;
        line-height: 20px;
    }

    .politic_str h4 {
        font-size: 11px;
    }

    .main_text {
        -webkit-text-size-adjust: none;
        -webkit-appearance: none;
        text-rendering: geometricPrecision;
    }

    .left_part.adaptive img {
        width: 20px;
    }
}